{% extends 'todo_frontend/base.html' %}
{% block content %}

<article id='about_article'>
    
    <h1>Invera ToDo-List Challenge (Python/Django Jr-SSr)</h1>   
    <p>
        <h5>
            El propósito de esta prueba es conocer tu capacidad para crear una pequeña aplicación funcional en un límite de tiempo.
        </h5>
    </p>
    <section>
                    
        <h4><b>Qué queremos que hagas:</b></h4>
        <p>
            <h5>
                El Challenge consiste en crear una aplicación web sencilla que permita a los usuarios crear y mantener una lista de tareas. 
            </h5>
        </p>  
    </section>
    <section>
                    
        <h4><b>Objetivos:</b></h4>
        <p>
            <h5>
                El usuario de la aplicación tiene que ser capaz de:

                <li>Crear una tarea</li>
                <li>Eliminar una tarea</li>
                <li>Marcar tareas como completadas</li>
                <li>Poder ver una lista de todas las tareas existentes</li>
                <li>Filtrar/buscar tareas por fecha de creación y/o por el contenido de la misma</li>
            </h5>
        </p>
        
    </section>
</article>

{% endblock content %}