{% extends 'todo_frontend/base.html' %}
{% block content %}

<div class="container">

    <div id="task-container">
        <div id="form-wrapper">
            <form id="form">
                <div class="flex-wrapper">
                    <div style="flex: 6" id='title_div'>
                        <input id="title" class="form-control" type="text" name="title" placeholder="Agregar tarea">
                    </div>
                    <div style="flex: 1">
                        <input id="submit" class="btn ml-1" type="submit" value='Agregar'>
                    </div>
                    <!-- BOTON REESTABLECER
                    <div style="flex: 1">
                        <input id='resetbtn'class="btn ml-1" value='Restablecer' type="submit" onClick="this.form.reset()" >
                    </div>-->
                </div>
            </form>
        </div>

        <div id="list-wrapper">
        
        </div>	
    </div>
</div>

<script type='text/javascript'>
    

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    buildlist() /*calling the list*/

    var activeItem = null /*null until an edit button is clicked*/
    var list_snapshot = [] /*Will contain previous state of list. Used for removing extra rows on list update*/
    

    function buildlist(){
        var wrapper = document.getElementById('list-wrapper')
             
        var url = 'http://127.0.0.1:8000/api/list/'

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            console.log('Data', data)

            var list = data
            for (var i in list){
                
                try{
                    document.getElementById(`data-row-${i}`).remove()
                }catch(err){
                    
                }


                var title = `<span class='title'>${list[i].title}</span>`
                if (list[i].completion == true){
                    title = `<strike class='title'>${list[i].title}</strike>`

                }

                var item = `
                    <div id="data-row-${i}" class="task-wrapper flex-wrapper">
                        <div style="flex:7">
                            ${title}
                        </div>

                        <div class="card" style='flex:1'> 
                            <div class="checkbox-container">
                                <label class="checkbox-label">
                                    <input type="checkbox" class='checkboxin'>
                                    <span class="checkbox-custom rectangular"></span>
                                </label>
                                <div class="input-title"></div>
                            </div>    
                        </div>
                        
                        <div style="flex:1">
                            <button id='editbtn' class="btn btn-sm edit">Editar</button>
                        </div>
                        <div style="flex:1">
                            <button id='deletebtn' class="btn btn-sm delete">Eliminar</button>
                        </div>
                    </div>
                `
            wrapper.insertAdjacentHTML('beforeend', item) // Inside the element, insert after its last child.

            }
            if (list_snapshot.length > list.length){
                document.getElementById(`data-row-${list_snapshot.length - 1}`).remove();
            }
            list_snapshot = list
            
            for (var i in list){    /* saving individual items*/
                var editBtn = document.getElementsByClassName('edit')[i];
                var deleteBtn = document.getElementsByClassName('delete')[i];
                var checkbox = document.getElementsByClassName('checkboxin')[i];
                
                
                
                editBtn.addEventListener('click', (function(item) {
                    return function(){
                        editItem(item)
                    }
                })(list[i]))


                deleteBtn.addEventListener('click', (function(item) {
                    return function(){
                        deleteItem(item)
                    }
                })(list[i]))


                checkbox.addEventListener('click', (function(item) {
                    return function(){
                        strikedWords(item)
                    }
                })(list[i]))
            }
        })
    }

    
    /* submit */

    var form = document.getElementById('form-wrapper')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('submited', activeItem)
        var url = 'http://127.0.0.1:8000/api/new/'
        if (activeItem != null){
            console.log('var changed')
            var url = `http://127.0.0.1:8000/api/update/${activeItem.id}/`
            activeItem = null
        }

        var title = document.getElementById('title').value
        fetch(url, {
            method: 'POST',
            headers:{
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'title': title})
        }
        ).then(function(response){
            buildlist()
            document.getElementById('form').reset()
        })
    })
    
    /* edit */
    function editItem(item){
        console.log('Edit clickeado', item)
        activeItem = item
        document.getElementById('title').value = activeItem.title

    }       

    /* delete */
    function deleteItem(item){
        console.log('eliminar')
        fetch(`http://127.0.0.1:8000/api/delete/${item.id}/`, {
            method: 'DELETE',
            headers:{
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            }
        }).then((response) => {
            buildlist()
        })
    }

    /* tachar las palabras */
    function strikedWords(item){
        console.log('tachar')

        item.completion = !item.completion
        fetch(`http://127.0.0.1:8000/api/update/${item.id}/`, {
            method: 'POST',
            headers:{
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({'title': item.title, 'completion': item.completion})
        }).then((response) => {
            buildlist()
        })
    }

    //checkboxing values
       
</script>

{% endblock content%}
