<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-red-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4 mb-1" href="{% url 'todo-home' %}">To-Do List</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'todo-about' %}">Sobre esta App</a>
                    <a class="nav-item nav-link" href="{% url 'todo-api' %}">API View Mode</a>
                </div>
                <!-- lado derecho -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'todo-home' %}"><i class="fas fa-tasks mr-1"></i>Tareas</a>
                    <a class="nav-item nav-link" href="{% url 'todo-search' %}">Buscar Tarea</a>
                </div>
            </div>
        </div>
    </nav>
</header>